<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunmi.app.mapper.system.UserMapper">
    <resultMap id="BaseResultMap" type="com.yunmi.app.model.system.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="CHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="userface" property="userface" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="UserWithRoles" type="com.yunmi.app.model.system.User" extends="BaseResultMap">
        <collection property="roles" ofType="com.yunmi.app.model.system.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnameZh" property="nameZh"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
      id, name, phone, telephone, address, enabled, username, password, userface, remark
    </sql>
    <select id="getAllUsers" resultMap="UserWithRoles">
        select
        hr.id, hr.name, hr.phone, hr.telephone, hr.address, hr.enabled, hr.username, hr.userface,
        hr.remark,r.`id` as rid,r.`name` as rname,r.`nameZh` as rnameZh from sys_user hr left join sys_user_role hrr on
        hr.`id`=hrr.`user_id` left join sys_role r on hrr.`rid`=r.`id` where hr.`id`!=#{hrid}
        <if test="keywords!=null">
            and hr.name like concat('%',#{keywords},'%')
        </if>
        order by hr.id
    </select>
    <select id="getUserRolesById" resultType="com.yunmi.app.model.system.Role">
      select r.* from sys_role r,sys_user_role hrr where hrr.`rid`=r.`id` and hrr.`user_id`=#{id}
    </select>
    <select id="loadUserByUsername" resultMap="BaseResultMap">
      select * from sys_user where username=#{username}
    </select>
</mapper>